body {
    background-image: url("bg.jpg");
    width: auto;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-attachment: fixed;
    position: relative;
    text-align: center;
  }
